{% extends "app/layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="jumbotron">
    <h1>Big data and Social dev</h1>
<h3>Filtrado de tweet por hashTag</h3>

<form method="get">
<select name="option">
           <option selected="selected" disabled>Selection</option>
           <optgroup label="Fitness">
               {% for hashtag, n in hashtags_fitness %}
                   <option value={{hashtag}}>{{hashtag}}</option>
               {% endfor %}
           </optgroup>
           <optgroup label="Food">
               {% for hashtag, n in hashtags_food %}
                   <option value={{hashtag}}>{{hashtag}}</option>
               {% endfor %}
           </optgroup>
           <optgroup label="Travel">
               {% for hashtag, n in hashtags_travel %}
                   <option value={{hashtag}}>{{hashtag}}</option>
               {% endfor %}
           </optgroup>
           <optgroup label="Tech">
               {% for hashtag, n in hashtags_tech %}
                   <option value={{hashtag}}>{{hashtag}}</option>
               {% endfor %}
           </optgroup>
           <optgroup label="Fashion">
               {% for hashtag, n in hashtags_fashion %}
                   <option value={{hashtag}}>{{hashtag}}</option>
               {% endfor %}
           </optgroup>
       </select>
    <input type="submit"  value="Send">
</form>
    </div>
<div class="jumbotron">
<h3>Filtrado por Area de Influencia Global:</h3>
<form method="get">
{{ form_Influencer.area_influencer }}
<input type="submit"  value="Send">
</form>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th colspan="4" style="text-align: center;">Action</th>
            <!---    <th>Name</th>
                <th>screemName</th>
                <th>userId</th> --->
            </tr>
            </thead>
            <tbody>
            {% for x in data %}
            <tr>
                <td>{{ x.tweetId }}</td>
            <!---    <td>{{ x.name }}</td>
                <td>{{ x.screenName }}</td>
                <td>{{ x.userid }}</td> --->
                <td><button type="button" name="button" id="like{{ x.tweetId }}" onclick="like({{ x.tweetId }})" >Like</button></td>
                <td><button type="button" name="button" id="dislike{{ x.tweetId }}" onclick="dislike({{ x.tweetId }})">DisLike</button></td>
                <td><button type="button" name="button" id="Retweet{{ x.tweetId }}" onclick="Retweet({{ x.tweetId }})">Retweet</button></td>
                <td><button type="button" name="button" id="UnRetweet{{ x.tweetId }}" onclick="UnRetweet({{ x.tweetId }})">UnRetweet</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script>

  function like(id){
    var xhr=new XMLHttpRequest();
    xhr.onload=function(e) {
    if(this.readyState === 4) {
        response = JSON.parse(xhr.responseText);
        if (response['status'] == 'ok') {
            var ButtonLike = document.getElementById('like'+id).style.display = "none";
            console.log("like dado correctamente");
          }
        else {
          console.log("No se pudo dar like ocurrio un error");
              }
        }};
    xhr.open("GET", "/like/"+id+"/", true);
    xhr.send(null);
};

function dislike(id){
  var xhr=new XMLHttpRequest();
  xhr.onload=function(e) {
  if(this.readyState === 4) {
      response = JSON.parse(xhr.responseText);
      if (response['status'] == 'ok') {
          var ButtonDisLike = document.getElementById('like'+id).style.display = "";;
          console.log("Dislike dado correctamente");
        }
      else {
        console.log("No se pudo dar Dislike ocurrio un error");
            }
      }};
  xhr.open("GET", "/dislike/"+id+"/", true);
  xhr.send(null);
};

function Retweet(id){
  var xhr=new XMLHttpRequest();
  xhr.onload=function(e) {
  if(this.readyState === 4) {
      response = JSON.parse(xhr.responseText);
      if (response['status'] == 'ok') {
          var ButtonRetweet = document.getElementById('Retweet'+id);
          console.log("Retweet dado correctamente");
        }
      else {
        console.log("No se pudo dar Retweet ocurrio un error");
            }
      }};
  xhr.open("GET", "/giveRetweet/"+id+"/", true);
  xhr.send(null);
};

function UnRetweet(id){
  var xhr=new XMLHttpRequest();
  xhr.onload=function(e) {
  if(this.readyState === 4) {
      response = JSON.parse(xhr.responseText);
      if (response['status'] == 'ok') {
          var ButtonUnRetweet = document.getElementById('UnRetweet'+id);
          console.log("UnRetweet dado correctamente");
        }
      else {
        console.log("No se pudo dar UnRetweet ocurrio un error");
            }
      }};
  xhr.open("GET", "/takeoffRetweet/"+id+"/", true);
  xhr.send(null);
};
</script>

{% endblock %}